body {
    background-color: #EBEDF0;
}
* {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.left {
    float: left;
}
.right {
    float: right;
}
.clear:after {
    content: "";
    clear: both;
    display: block;
}

#header {
    /* background-color: rgb(0,0,0); */
    /* background-color: rgb(255,255,255); */
    /* background-color: rgb(120,34,156); */
    padding: 10px 0px;
    background-color: #2874F0;
    position: fixed;
    /* bottom: 0px; */
    top: 0px;
    width: 100%;
    z-index: 1;
}

h1 {
    color: #ffffff;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    /* color: #ff0000; */
}

#content {
    width: 1100px;
    margin: 100px auto 0px;
}
/* 
1400px
1100px
------
300px => 150px
 */

#sidebar_1 {
    width: 20%;
}
#sidebar_1 .widget {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
}

#sidebar_1 .widget ul li {
    padding: 10px;
}
#sidebar_1 .widget ul li:hover {
    background-color: #EBEDF0;
}

#main {
    width: 50%;
    margin-left: 2%;
}
#main img {
    width: 100%;
}

#main .image {
    position: relative;
}
#main .play-icon {
    position: absolute;
    width: 10%;
    /* left: 0px;
    bottom: 0px; */
    left: 50%;
    top: 50%;
    margin-left: -5%;
    margin-top: -5%;
}

#section_1, #section_2, #section_3 {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
}

#sidebar_2 {
    width: 25%;
    height: 80%;
    border: 2px solid red;
    background-color: #fff;
    padding: 5px;
    position: fixed;
    right: 3%;
    /* overflow: hidden; */
    /* overflow: scroll; */
    overflow-y: scroll;
}
#sidebar_2 img {
    width: 100%;
}